extends template.pug

block title
  title= topic

block content
  div.container.mt-5.mb-5
    h1
      span.badge.badge-danger= topic
    div.card.card-body.border.border-danger
      h4= message
      div.text-right
        button.like#likeTopic
        h6#likenum-topic= `${likes} likes.`
        h5= `by ${user}`
    hr
    h2 Comments
    each comment, index in comments
      div.card.card-body.m-2
        h4= comment.message
        div.text-right
          button.like(id= `likecomment${index}`)
          h6(id= `likenum-comment${index}`)= `${comment.likes} likes.`
          h5= `By ${comment.user}`
    hr
    h2 Add Comment
    form(action= "/addcomment" method= "post")
      input(type="hidden" name="id" value= id)
      input.m-2.input(name= "user" placeholder= "Username")
      br
      textarea.m-2.input(name= "message" placeholder= "Your message")
      br
      button.btn.btn-outline-danger.btn-block.m-2(type= "submit") COMMENT

block script
  script.
    $(() => {  
    let root = "http://localhost:1975"
    $('#likeTopic').on('click', () => {
      $.ajax({
        url: root + "/addliketopic",
        type: 'POST',
        data: {
          id: `#{id}`
        }
      })
      .done(function(response){
        $('#likenum-topic').html(`${response.like} likes.`)
      })
    })
    
    for(let i = 0; i < #{comments.length}; i++){
      $(`#likecomment${i}`).on('click', () => {
        $.ajax({
          url: root + "/addlikecomment",
          type: 'POST',
          data: {
            id: `#{id}`,
            commentid: `${i}`
          }
        })
        .done(function(response){
          $(`#likenum-comment${i}`).html(`${response.like} likes.`)
        })
      })
    }

    })
